# Segmentation of mall data set

The aim of this project is doing a segmentation of dataset about the mall clients, which is stored in Mall_Customers.csv file. 

We want to get information about the age, gender, interest etc. to get better view how the distribution of customer in the mall looks like. More iformation and i hope more in depth analysis i will be given in the read me file of this project.

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
### Data standarization and modeling with K-Means
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [29]:
# reading dataframe:
df = pd.read_csv("Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [30]:
# check if there are any missing values:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

### Ther aren't any missing values so we can try to convert categorical string data into numeric. 

### In our data set we have information about gender which is categorical data in string to make further calculation easier its better to change this to numerical values.

In [31]:
# To do labelling we need labelencoder
from sklearn.preprocessing import LabelEncoder
# Creating instance of label encoder
le = LabelEncoder()

In [32]:
# Using .fit_tranform function to fit labelencoder and return encoded labels
label = le.fit_transform(df['Genre'])
# By this we get the labels where: 1 = male, 0 = female
label

array([1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1])

In [38]:
# Transfering labeled information to appropriate collumn
df_labeled = df.copy()
#df_labeled
df_labeled.drop('Genre', axis=1, inplace=True)
df_labeled['Genre']=label
df_labeled = df_labeled.set_index('CustomerID')
df_labeled

            Age  Annual Income (k$)  Spending Score (1-100)  Genre
CustomerID
1            19                  15                      39      1
2            21                  15                      81      1
3            20                  16                       6      0
4            23                  16                      77      0
5            31                  17                      40      0
...         ...                 ...                     ...    ...
196          35                 120                      79      0
197          45                 126                      28      0
198          32                 126                      74      1
199          32                 137                      18      1
200          30                 137                      83      1

[200 rows x 4 columns]